*{
    padding: 0;
    margin: 0;
}

.caja1{
    background-color: rgb(164, 218, 220);
	/* border: 1px solid rgb(7, 36, 37); */
	width: 98vw;
	height: 60px;
	padding-top: 50px;
	margin: 10px;
    text-align: center;
}

.caja2{
    background-color: rgb(164, 218, 220);
	/* border: 1px solid rgb(7, 36, 37); */
	width: 98vw;
	height: 80px;
	padding-top: 60px;
	margin: 10px;
    text-align: center;
}

.contenedor1{
    background-color: rgb(255, 255, 255);
	width: 98vw;
	margin: 10px;
    display: flex;
    justify-content: space-between;
}

.caja3{
    background-color: rgb(164, 218, 220);
	/* border: 1px solid rgb(7, 36, 37); */
    width: 39.73vw;
    text-align: center;
    padding: 60px;
}

.caja4{
    background-color: rgb(164, 218, 220);
	/* border: 1px solid rgb(7, 36, 37); */
    width: 39.73vw;
    text-align: center;
    padding: 60px;
}

.caja5{
    background-color: rgb(164, 218, 220);
	/* border: 1px solid rgb(7, 36, 37); */
	width: 98vw;
	height: 80px;
	padding-top: 60px;
	margin: 10px;
    text-align: center;
}

.contenedor2{
    background-color: rgb(255, 255, 255);
	width: 98vw;
	margin: 10px;
    display: flex;
    justify-content: space-between;
}

.caja6{
    background-color: rgb(164, 218, 220);
	/* border: 1px solid rgb(7, 36, 37); */
    width: 39.73vw;
    text-align: center;
    padding: 60px;
}

.caja7{
    background-color: rgb(164, 218, 220);
	/* border: 1px solid rgb(7, 36, 37); */
    width: 39.73vw;
    text-align: center;
    padding: 60px;
}

